.swiper {
  width: 100%;
  height: 450px;
  display: flex;
  margin-left: 120px;
}

.swiper-slide {
  font-size: 18px;
  background: #f5f5f580;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  color: green;
  background-color: green;
}
